<div class="default-padding display-flex-column">
    <p class="label-default-font-size">Feedback aos desenvolvedores, sinta-se livre a comentar sobre sua experiência com
        o teclado virtual Dasher Web</p>

    <mat-form-field>
        <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="50"
            cdkAutosizeMaxRows="50" style="background-color: white;" [(ngModel)]="input"></textarea>
    </mat-form-field>

    <div class="feedback-button-div">
        <button class="feedback-button" (click)="sendFeedback()">Enviar Feedback</button>
    </div>
</div>