.mat-slide-toggle {
    margin-top: 40px;
}

.grid-controle {
    grid-area: controle;
    margin-left: 10px;
}

.grid-gerais {
    grid-area: gerais;
    margin-left: 10px;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'gerais'
        'controle';
}