<div class="grid-container">

    <div [formGroup]="formBooleans" class="grid-controle" fxLayout="column">
        <p class="label-medium-font-size">Dispositivos Suportados</p>
        <mat-slide-toggle formControlName="NinetendoJoyconDireitoJoystick" color="accent" class="mat-slide-toggle"
            (change)="toggleChanged($event, 'NinetendoJoyconDireitoJoystick')">
            Joystick Nintendo Joycon Direito
        </mat-slide-toggle>

        <mat-slide-toggle formControlName="NinetendoJoyconEsquerdoJoystick" color="accent" class="mat-slide-toggle"
            (change)="toggleChanged($event, 'NinetendoJoyconEsquerdoJoystick')">
            Joystick Nintendo Joycon Esquerdo
        </mat-slide-toggle>

        <mat-slide-toggle formControlName="JoystickDualShock" color="accent" class="mat-slide-toggle"
            (change)="toggleChanged($event, 'JoystickDualShock')">
            Joystick DualShock
        </mat-slide-toggle>

        <mat-slide-toggle formControlName="NinetendoJoyconDireitoSensorial" color="accent" class="mat-slide-toggle"
            (change)="toggleChanged($event, 'NinetendoJoyconDireitoSensorial')">
            Sensorial Nintendo Joycon Direito
        </mat-slide-toggle>

        <mat-slide-toggle formControlName="NinetendoJoyconEsquerdoSensorial" color="accent" class="mat-slide-toggle"
            (change)="toggleChanged($event, 'NinetendoJoyconEsquerdoSensorial')">
            Sensorial Nintendo Joycon Esquerdo
        </mat-slide-toggle>

        <mat-slide-toggle formControlName="ControleFocoOcularSensorial" color="accent" class="mat-slide-toggle"
            (change)="toggleChanged($event, 'ControleFocoOcularSensorial')">
            Controle Ocular
        </mat-slide-toggle>
    </div>


    <div [formGroup]="formInputs" class="grid-gerais" fxLayout="column" fxLayoutAlign="none">
        <p class="label-medium-font-size">Configurações Gerais</p>

        <mat-form-field>
            <mat-label>Tipo Layout</mat-label>
            <mat-select formControlName="LayoutType">
                <mat-option *ngFor="let layout of layouts" [value]="layout">
                    {{layout.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="!isSensorialConfigured()">
            <mat-label>Detecção Ação</mat-label>
            <mat-select formControlName="ActionDetection">
                <mat-option *ngFor="let actionDetection of actionDetections" [value]="actionDetection">
                    {{actionDetection.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="formInputs.get('ActionDetection').value.value != dectionType.Contato">
            <mat-label>Delay detecção ação (MS)</mat-label>
            <input matInput type="number" formControlName="DelayDeteccaoSensorial">
        </mat-form-field>

        <mat-form-field *ngIf="!isSensorialConfigured() && isAnyControlConfigured()">
            <mat-label>Velocidade controles joystick (DPI)</mat-label>
            <mat-select formControlName="Dpi">
                <mat-option *ngFor="let dpi of dpis" [value]="dpi">
                    {{dpi.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-slide-toggle formControlName="KeepOrderLetters" color="accent" class="mat-slide-toggle">
            Manter ordem das letras
        </mat-slide-toggle>
    </div>

</div>