:host {
    --animation-duration: 5s;
}

.icon-display {
    margin-top: 20px;
    transform: scale(1.5);
}

.start-div {
    width: 50px;
    background-color: rgb(252, 175, 175);
    align-items: center !important;
}

.stop-div {
    width: 50px;
    background-color: rgb(103, 255, 103);
    align-items: center !important;
}

.action-div-border {
    border-width: 2px;
    border-style: groove;
    border-color: lightgoldenrodyellow;
    background: linear-gradient(to right, rgb(230, 255, 230) 50%, transparent 0);
    background-size: 200% 100%;
    background-position: right;
    position: relative;
    background-color: white;
}

.action-div-border-color {
    border-width: 2px;
    border-style: groove;
    border-color: lightgoldenrodyellow;
    position: relative;
    background-color: white;
}

.selection-background-color {
    background-color: lightgoldenrodyellow;
}

:host::ng-deep {
    mat-form-field {
        display: flex;
        height: 100%;

        .mat-mdc-text-field-wrapper {
            height: 100%;

            .mat-mdc-form-field-flex {
                height: 100%;

                .mat-mdc-form-field-infix {
                    padding: 0 !important;
                    height: 100%;
                    min-height: unset;

                    input {
                        height: 100%;
                    }
                }
            }
        }

        .mat-mdc-form-field-subscript-wrapper {
            display: none;
        }
    }
}

.grid-header1 {
    grid-area: header1;
}

.grid-mainh {
    grid-area: mainh;
}

.grid-header2 {
    grid-area: header2;
}

.grid-main {
    grid-area: main;
}

.grid-bottom1 {
    grid-area: bottom1;
}

.grid-mainb {
    grid-area: mainb;
}

.grid-bottom2 {
    grid-area: bottom2;
}


.grid-container-horizontal {
    display: grid;
    grid-template-areas:
        'header1'
        'mainh'
        'header2'
        'main'
        'bottom1'
        'mainb'
        'bottom2';
    grid-template-rows: repeat(7, 1fr);
}

.grid-container-vertical {
    display: grid;
    grid-template-areas:
        'header1'
        'main'
        'bottom1';
    grid-template-rows: repeat(3, 1fr);
}

.mid-start-header {
    grid-area: mid-start-header;
}

.mid-start-bottom {
    grid-area: mid-start-bottom;
}

.mid-start-header2 {
    grid-area: mid-start-header2;
}

.mid-start-bottom2 {
    grid-area: mid-start-bottom2;
}

.mid-start {
    grid-area: mid-start;
}

.ghost-container {
    opacity: 0;
}

.grid-start-actions {
    display: grid;
    grid-template-areas:
        'mid-start-header mid-start-header2'
        'mid-start-header mid-666'
        'mid-start mid-666'
        'mid-start-bottom mid-666'
        'mid-start-bottom mid-start-bottom2';
    grid-template-rows: 2fr 1fr 100px 1fr 2fr;//repeat(6, 1fr);
    position: relative;
}

@keyframes makeItfadeIn {
    100% {
        background-position: left;
    }
}

.fill-animation {
    animation: makeItfadeIn var(--animation-duration) 0s forwards;
}