<div fxLayout="column" fxFill>

    <div fxFlex="5">
        <mat-form-field>
            <input id="input" matInput type="text" [(ngModel)]="input">
        </mat-form-field>
    </div>

    <div id="playerDivElementRef" #playerDivElementRef fxFlex>

        <div fxLayoutAlign="center start" [ngClass]="!isAfk ? 'stop-div' : 'start-div'">
            <div>
                <mat-icon *ngIf="isAfk" class="icon-display">stop</mat-icon>
                <mat-spinner *ngIf="!isAfk" diameter="40"></mat-spinner>
            </div>
        </div>

        <div fxLayout="column">
            <div (click)="onClickElementCalibration(0, 'limparTudoElementRef')"
                [ngClass]="clickElementsCount.get('limparTudoElementRef_0') == this.defaultCalibrationCount ? 'action-div-border-color' : 'action-div-border'"
                fxLayoutAlign="center none" fxFill fxFlex>
                <p class="label-default-font-size" #limparTudoElementRef (mouseover)="mouseOverReset(true)"
                    fxLayoutAlign="center center">Limpar Toda Digitação</p>
            </div>

            <div (click)="onClickElementCalibration(0, 'falarElementRef')"
                [ngClass]="clickElementsCount.get('falarElementRef_0') == this.defaultCalibrationCount ? 'action-div-border-color' : 'action-div-border'"
                fxLayoutAlign="center none" fxFill fxFlex>
                <p class="label-default-font-size" #falarElementRef (mouseover)="mouseOverSpeak()"
                    fxLayoutAlign="center center">Falar Texto Completo</p>
            </div>
        </div>

        <div fxLayoutAlign="center center" fxLayout="column">
            <div (click)="onClickElementCalibration(0, 'espacoElementRef')"
                [ngClass]="clickElementsCount.get('espacoElementRef_0') == this.defaultCalibrationCount ? 'action-div-border-color' : 'action-div-border'"
                fxLayoutAlign="center none" fxFill fxFlex>
                <p id="espacoElementRef" class="label-default-font-size" #espacoElementRef fxLayoutAlign="center center"
                    (mouseover)="mouseOverBlankSpace()">
                    Inserir Espaço</p>
            </div>

            <div id="centerDivElementRef" style="background-color: lightgoldenrodyellow" #centerDivElementRef fxFill
                fxFlex></div>

            <div (click)="onClickElementCalibration(0, 'limparElementRef')"
                [ngClass]="clickElementsCount.get('limparElementRef_0') == this.defaultCalibrationCount ? 'action-div-border-color' : 'action-div-border'"
                fxLayoutAlign="center none" fxFill fxFlex>
                <p id="limparElementRef" class="label-default-font-size" #limparElementRef
                    (mouseover)="mouseOverReset(false)" fxLayoutAlign="center center">Limpar Último
                </p>
            </div>
        </div>

        <div style="width: 100px; background-color: lightgoldenrodyellow">
        </div>

        <div *ngIf="layoutType == layoutTypes.Horizontal" fxFlex fxLayout="column" fxFill>
            <div class="grid-container-horizontal" fxFill>

                <div class="grid-header1" fxFill>
                    <div fxLayout="row" fxFill>
                        <ng-template ngFor let-item [ngForOf]="wordsOrLetterOnScreenTop" let-i="index">
                            <app-dasher-on-screen-player *ngIf="i > splitIndexHeader"
                                (click)="onClickElementCalibration(i, 'top')"
                                [ngClass]="clickElementsCount.get('top_' + i) == this.defaultCalibrationCount ? 'selection-background-color' : ''"
                                [wordOrLetter]="wordsOrLetterOnScreenTop[i]" [mouseMovedEvent]="mouseMovedEvent"
                                [onResetDasherEvent]="onResetDasherEvent" fxFlex fxFill
                                (wordOrLetterSelectedEvent)="wordOrLetterSelectedEvent($event)"></app-dasher-on-screen-player>
                        </ng-template>
                    </div>
                </div>

                <div class="grid-mainh"></div>

                <div class="grid-header2" fxFill>
                    <div fxLayout="row" fxFill>
                        <ng-template ngFor let-item [ngForOf]="wordsOrLetterOnScreenTop" let-i="index">
                            <div *ngIf="i == 3" style="width: 100px; background-color: lightgoldenrodyellow"></div>
                            <app-dasher-on-screen-player *ngIf="i <= splitIndexHeader"
                                (click)="onClickElementCalibration(i, 'top')"
                                [ngClass]="clickElementsCount.get('top_' + i) == this.defaultCalibrationCount ? 'selection-background-color' : ''"
                                [wordOrLetter]="wordsOrLetterOnScreenTop[i]" [mouseMovedEvent]="mouseMovedEvent"
                                [onResetDasherEvent]="onResetDasherEvent" fxFlex fxFill
                                (wordOrLetterSelectedEvent)="wordOrLetterSelectedEvent($event)"></app-dasher-on-screen-player>
                        </ng-template>
                    </div>
                </div>

                <div class="grid-main"></div>

                <div class="grid-bottom1" fxFill>
                    <div fxLayout="row" fxFill>
                        <ng-template ngFor let-item [ngForOf]="wordsOrLetterOnScreenBottom" let-i="index">
                            <div *ngIf="i == 3" style="width: 100px; background-color: lightgoldenrodyellow"></div>
                            <app-dasher-on-screen-player *ngIf="i <= splitIndexBottom"
                                (click)="onClickElementCalibration(i, 'bottom')"
                                [ngClass]="clickElementsCount.get('bottom_' + i) == this.defaultCalibrationCount ? 'selection-background-color' : ''"
                                [wordOrLetter]="wordsOrLetterOnScreenBottom[i]" [mouseMovedEvent]="mouseMovedEvent"
                                [onResetDasherEvent]="onResetDasherEvent" fxFlex fxFill
                                (wordOrLetterSelectedEvent)="wordOrLetterSelectedEvent($event)">
                            </app-dasher-on-screen-player>
                        </ng-template>
                    </div>
                </div>

                <div class="grid-mainb"></div>

                <div class="grid-bottom2" fxFill>
                    <div fxLayout="row" fxFill>
                        <ng-template ngFor let-item [ngForOf]="wordsOrLetterOnScreenBottom" let-i="index">
                            <app-dasher-on-screen-player *ngIf="i > splitIndexBottom"
                                (click)="onClickElementCalibration(i, 'bottom')"
                                [ngClass]="clickElementsCount.get('bottom_' + i) == this.defaultCalibrationCount ? 'selection-background-color' : ''"
                                [wordOrLetter]="wordsOrLetterOnScreenBottom[i]" [mouseMovedEvent]="mouseMovedEvent"
                                [onResetDasherEvent]="onResetDasherEvent" fxFlex fxFill
                                (wordOrLetterSelectedEvent)="wordOrLetterSelectedEvent($event)">
                            </app-dasher-on-screen-player>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="layoutType == layoutTypes.Vertical" fxFlex fxLayout="column" fxFill>
            <div class="grid-container-vertical" fxFill>
                <div class="grid-header1" fxFill>
                    <div fxLayout="row" fxFill>
                        <ng-template ngFor let-item [ngForOf]="wordsOrLetterOnScreenTop" let-i="index">
                            <app-dasher-on-screen-player (click)="onClickElementCalibration(i, 'top')"
                                [ngClass]="clickElementsCount.get('top_' + i) == this.defaultCalibrationCount ? 'selection-background-color' : ''"
                                [wordOrLetter]="wordsOrLetterOnScreenTop[i]" [mouseMovedEvent]="mouseMovedEvent"
                                [onResetDasherEvent]="onResetDasherEvent" fxFlex fxFill
                                (wordOrLetterSelectedEvent)="wordOrLetterSelectedEvent($event)"></app-dasher-on-screen-player>
                        </ng-template>
                    </div>
                </div>

                <div class="grid-main"></div>

                <div class="grid-bottom1" fxFill>
                    <div fxLayout="row" fxFill>
                        <ng-template ngFor let-item [ngForOf]="wordsOrLetterOnScreenBottom" let-i="index">
                            <app-dasher-on-screen-player (click)="onClickElementCalibration(i, 'bottom')"
                                [ngClass]="clickElementsCount.get('bottom_' + i) == this.defaultCalibrationCount ? 'selection-background-color' : ''"
                                [wordOrLetter]="wordsOrLetterOnScreenBottom[i]" [mouseMovedEvent]="mouseMovedEvent"
                                [onResetDasherEvent]="onResetDasherEvent" fxFlex fxFill
                                (wordOrLetterSelectedEvent)="wordOrLetterSelectedEvent($event)">
                            </app-dasher-on-screen-player>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>