<div fxLayout="column" fxFill>

    <div fxFlex="5">
        <mat-form-field>
            <input id="input" matInput type="text" [(ngModel)]="input">
        </mat-form-field>
    </div>

    <div id="playerDivElementRef" #playerDivElementRef fxFlex>

        <div fxLayoutAlign="center start" [ngClass]="!isAfk ? 'stop-div' : 'start-div'">
            <div>
                <mat-icon *ngIf="isAfk" class="icon-display">stop</mat-icon>
                <mat-spinner *ngIf="!isAfk" diameter="40"></mat-spinner>
            </div>
        </div>

        <div fxLayout="column">
            <div (click)="onClickElementCalibration(0)"
                [ngClass]="clickElementsCount.get(0) == this.defaultCalibrationCount ? 'action-div-border-color' : 'action-div-border'"
                fxLayoutAlign="center none" fxFill fxFlex>
                <p class="label-default-font-size" #limparTudoElementRef (mouseover)="mouseOverReset(true)"
                    fxLayoutAlign="center center">Limpar Toda Digitação</p>
            </div>

            <div (click)="onClickElementCalibration(1)"
                [ngClass]="clickElementsCount.get(1) == this.defaultCalibrationCount ? 'action-div-border-color' : 'action-div-border'"
                fxLayoutAlign="center none" fxFill fxFlex>
                <p id="vogaisElementRef" class="label-default-font-size" #vogaisElementRef fxLayoutAlign="center center"
                    (mouseover)="mouseOverVowels()">
                    Vogais</p>
            </div>

            <div (click)="onClickElementCalibration(2)"
                [ngClass]="clickElementsCount.get(2) == this.defaultCalibrationCount ? 'action-div-border-color' : 'action-div-border'"
                fxLayoutAlign="center none" fxFill fxFlex>
                <p id="limparElementRef" class="label-default-font-size" #limparElementRef
                    (mouseover)="mouseOverReset(false)" fxLayoutAlign="center center">Limpar Último
                </p>
            </div>

            <div (click)="onClickElementCalibration(3)"
                [ngClass]="clickElementsCount.get(3) == this.defaultCalibrationCount ? 'action-div-border-color' : 'action-div-border'"
                fxLayoutAlign="center none" fxFill fxFlex>
                <p class="label-default-font-size" #consoantesElementRef fxLayoutAlign="center center"
                    (mouseover)="mouseOverConsonants()">Consoantes
                </p>
            </div>

            <div (click)="onClickElementCalibration(4)"
                [ngClass]="clickElementsCount.get(4) == this.defaultCalibrationCount ? 'action-div-border-color' : 'action-div-border'"
                fxLayoutAlign="center none" fxFill fxFlex>
                <p class="label-default-font-size" #falarElementRef (mouseover)="mouseOverSpeak()"
                    fxLayoutAlign="center center">Falar Texto Completo</p>
            </div>
        </div>

        <div style="width: 100px;">
        </div>

        <div fxLayoutAlign="center center" fxLayout="column">
            <div (click)="onClickElementCalibration(5)"
                [ngClass]="clickElementsCount.get(5) == this.defaultCalibrationCount ? 'action-div-border-color' : 'action-div-border'"
                fxLayoutAlign="center none" fxFill fxFlex>
                <p id="espacoElementRef" class="label-default-font-size" #espacoElementRef fxLayoutAlign="center center"
                    (mouseover)="mouseOverBlankSpace()">
                    Inserir Espaço</p>
            </div>

            <div id="centerDivElementRef" #centerDivElementRef fxFill fxFlex></div>

            <div (click)="onClickElementCalibration(6)"
                [ngClass]="clickElementsCount.get(6) == this.defaultCalibrationCount ? 'action-div-border-color' : 'action-div-border'"
                fxLayoutAlign="center none" fxFill fxFlex>
                <p id="mostrarMaisElementRef" class="label-default-font-size" #mostrarMaisElementRef
                    fxLayoutAlign="center center" (mouseover)="mouseOverMoreOptions()">Mostrar Mais
                </p>
            </div>
        </div>

        <div (mousemove)="mouseMovedDasher($event)" fxLayout="column" fxLayoutAlign="none end" fxFlex>
            <ng-template ngFor let-item [ngForOf]="wordsOnScreen" let-i="index">

                <div *ngIf="i == 0" style="margin-right: 40px; display: flex; flex-direction: row;" fxFill fxFlex>
                    <ng-template ngFor let-item [ngForOf]="wordsOnScreen" let-it="index">
                        <app-dasher-on-screen-player [word]="wordsOnScreen[it]" [mouseMovedEvent]="mouseMovedEvent"
                            [playerType]="0" [onResetDasherEvent]="onResetDasherEvent"></app-dasher-on-screen-player>
                    </ng-template>
                </div>

                <app-dasher-on-screen-player *ngIf="i > 0 && i < (wordsOnScreen.length - 1)"
                    (click)="onClickElementCalibration(7 + i)" [playerType]="1"
                    [ngClass]="clickElementsCount.get(7 + i) == this.defaultCalibrationCount ? 'selection-background-color' : ''"
                    [word]="wordsOnScreen[i]" [mouseMovedEvent]="mouseMovedEvent"
                    [onResetDasherEvent]="onResetDasherEvent" (wordSelectedEvent)="onWordSelectedEvent($event)" fxFill
                    fxFlex></app-dasher-on-screen-player>

                <div *ngIf="i == (wordsOnScreen.length - 1)" fxFill fxFlex
                    style="margin-right: 40px; display: flex; flex-direction: row;">
                    <ng-template ngFor let-item [ngForOf]="wordsOnScreen" let-ib="index">
                        <app-dasher-on-screen-player [word]="wordsOnScreen[ib]" [mouseMovedEvent]="mouseMovedEvent"
                            [playerType]="2" [onResetDasherEvent]="onResetDasherEvent"></app-dasher-on-screen-player>
                    </ng-template>
                </div>

            </ng-template>
        </div>

    </div>

</div>