.icon-display {
    margin-top: 20px;
    transform: scale(1.5);
}

.start-div {
    width: 50px;
    background-color: rgb(252, 175, 175);
}

.stop-div {
    width: 50px;
    background-color: rgb(103, 255, 103);
}