<div fxLayout="column" fxFill>

    <div fxFlex="5">
        <mat-form-field>
            <input id="input" matInput type="text" [(ngModel)]="input">
        </mat-form-field>
    </div>

    <div id="playerDivElementRef" #playerDivElementRef fxFlex style="background-color: lightgoldenrodyellow;">

        <div fxLayoutAlign="center start" [ngClass]="!isAfk ? 'stop-div' : 'start-div'">
            <div>
                <mat-icon *ngIf="isAfk" class="icon-display">stop</mat-icon>
                <mat-spinner *ngIf="!isAfk" diameter="40"></mat-spinner>
            </div>
        </div>

        <div class="grid-start-actions">
            <div id="limparTudoBoxRef" class="mid-start-header" cdkDrag
                (cdkDragStarted)="cdkDragStarted('limparTudoElementRef')" [cdkDragDisabled]="!enableLayoutEdition"
                (click)="onClickElementCalibration(0, 'limparTudoElementRef')"
                [class.fill-animation]="animateDivSelectionClearAll"
                [ngClass]="clickElementsCount.get('limparTudoElementRef_0') == this.defaultCalibrationCount ? 'action-div-border-color' : 'action-div-border'"
                fxLayoutAlign="center none" #limparTudoBoxRef>

                <div *ngIf="enableLayoutEdition" class="resize resize__right"
                    (resize)="onResize($event, 'limparTudoElementRef')" [targetElement]="limparTudoBoxRef"
                    [direction]="AngularResizeElementDirection.RIGHT"></div>

                <div *ngIf="enableLayoutEdition" class="resize resize__bottom"
                    (resize)="onResize($event, 'limparTudoElementRef')" [targetElement]="limparTudoBoxRef"
                    [direction]="AngularResizeElementDirection.BOTTOM"></div>

                <div *ngIf="enableLayoutEdition" class="resize resize__top"
                    (resize)="onResize($event, 'limparTudoElementRef')" [targetElement]="limparTudoBoxRef"
                    [direction]="AngularResizeElementDirection.TOP"></div>

                <div *ngIf="enableLayoutEdition" class="resize resize__left"
                    (resize)="onResize($event, 'limparTudoElementRef')" [targetElement]="limparTudoBoxRef"
                    [direction]="AngularResizeElementDirection.LEFT"></div>

                <p class="label-default-font-size" #limparTudoElementRef (mouseover)="mouseOverReset(true)"
                    (mouseout)="mouseOutReset()" fxLayoutAlign="center center">Limpar Toda Digitação</p>
            </div>
            <div *ngIf="limparTudoBoxRef.style.position === 'absolute'" class="mid-start-header ghost-container" fxLayoutAlign="center none">
                <p class="label-default-font-size" fxLayoutAlign="center center">
                    Limpar Toda Digitação
                </p>
            </div>

            <div id="simbolosBoxRef" class="mid-start" cdkDrag (cdkDragStarted)="cdkDragStarted('simboloElementRef')"
                [cdkDragDisabled]="!enableLayoutEdition" (click)="onClickElementCalibration(0, 'simboloElementRef')"
                [class.fill-animation]="animateDivSelectionSimbols"
                [ngClass]="clickElementsCount.get('simboloElementRef_0') == this.defaultCalibrationCount ? 'action-div-border-color' : 'action-div-border'"
                fxLayoutAlign="center none" #simbolosBoxRef>

                <div *ngIf="enableLayoutEdition" class="resize resize__right"
                    (resize)="onResize($event, 'simboloElementRef')" [targetElement]="simbolosBoxRef"
                    [direction]="AngularResizeElementDirection.RIGHT"></div>

                <div *ngIf="enableLayoutEdition" class="resize resize__bottom"
                    (resize)="onResize($event, 'simboloElementRef')" [targetElement]="simbolosBoxRef"
                    [direction]="AngularResizeElementDirection.BOTTOM"></div>

                <div *ngIf="enableLayoutEdition" class="resize resize__top"
                    (resize)="onResize($event, 'simboloElementRef')" [targetElement]="simbolosBoxRef"
                    [direction]="AngularResizeElementDirection.TOP"></div>

                <div *ngIf="enableLayoutEdition" class="resize resize__left"
                    (resize)="onResize($event, 'simboloElementRef')" [targetElement]="simbolosBoxRef"
                    [direction]="AngularResizeElementDirection.LEFT"></div>

                <p class="label-default-font-size" #simboloElementRef (mouseover)="mouseOverSimbols()"
                    (mouseout)="mouseOutSimbols()" fxLayoutAlign="center center">Simbolos</p>
            </div>
            <div *ngIf="simbolosBoxRef.style.position === 'absolute'" class="mid-start ghost-container" fxLayoutAlign="center none">
                <p class="label-default-font-size" fxLayoutAlign="center center">
                    Simbolos
                </p>
            </div>

            <div id="falarBoxRef" class="mid-start-bottom" cdkDrag (cdkDragStarted)="cdkDragStarted('falarElementRef')"
                [cdkDragDisabled]="!enableLayoutEdition" (click)="onClickElementCalibration(0, 'falarElementRef')"
                [class.fill-animation]="animateDivSelectionSpeak"
                [ngClass]="clickElementsCount.get('falarElementRef_0') == this.defaultCalibrationCount ? 'action-div-border-color' : 'action-div-border'"
                fxLayoutAlign="center none" #falarBoxRef>

                <div *ngIf="enableLayoutEdition" class="resize resize__right"
                    (resize)="onResize($event, 'falarElementRef')" [targetElement]="falarBoxRef"
                    [direction]="AngularResizeElementDirection.RIGHT"></div>

                <div *ngIf="enableLayoutEdition" class="resize resize__bottom"
                    (resize)="onResize($event, 'falarElementRef')" [targetElement]="falarBoxRef"
                    [direction]="AngularResizeElementDirection.BOTTOM"></div>

                <div *ngIf="enableLayoutEdition" class="resize resize__top"
                    (resize)="onResize($event, 'falarElementRef')" [targetElement]="falarBoxRef"
                    [direction]="AngularResizeElementDirection.TOP"></div>

                <div *ngIf="enableLayoutEdition" class="resize resize__left"
                    (resize)="onResize($event, 'falarElementRef')" [targetElement]="falarBoxRef"
                    [direction]="AngularResizeElementDirection.LEFT"></div>

                <p class="label-default-font-size" #falarElementRef (mouseover)="mouseOverSpeak()"
                    (mouseout)="mouseOutSpeak()" fxLayoutAlign="center center">Falar Texto Completo</p>
            </div>
            <div *ngIf="falarBoxRef.style.position === 'absolute'" class="mid-start-bottom ghost-container" fxLayoutAlign="center none">
                <p class="label-default-font-size" fxLayoutAlign="center center">
                    Falar Texto Completo
                </p>
            </div>

            <div id="espacoBoxRef" class="mid-start-header2" cdkDrag
                (cdkDragStarted)="cdkDragStarted('espacoElementRef')" [cdkDragDisabled]="!enableLayoutEdition"
                (click)="onClickElementCalibration(0, 'espacoElementRef')"
                [class.fill-animation]="animateDivSelectionSpace"
                [ngClass]="clickElementsCount.get('espacoElementRef_0') == this.defaultCalibrationCount ? 'action-div-border-color' : 'action-div-border'"
                #espacoBoxRef fxLayoutAlign="center none">

                <div *ngIf="enableLayoutEdition" class="resize resize__right"
                    (resize)="onResize($event, 'espacoElementRef')" [targetElement]="espacoBoxRef"
                    [direction]="AngularResizeElementDirection.RIGHT"></div>

                <div *ngIf="enableLayoutEdition" class="resize resize__bottom"
                    (resize)="onResize($event, 'espacoElementRef')" [targetElement]="espacoBoxRef"
                    [direction]="AngularResizeElementDirection.BOTTOM"></div>

                <div *ngIf="enableLayoutEdition" class="resize resize__top"
                    (resize)="onResize($event, 'espacoElementRef')" [targetElement]="espacoBoxRef"
                    [direction]="AngularResizeElementDirection.TOP"></div>

                <div *ngIf="enableLayoutEdition" class="resize resize__left"
                    (resize)="onResize($event, 'espacoElementRef')" [targetElement]="espacoBoxRef"
                    [direction]="AngularResizeElementDirection.LEFT"></div>

                <p id="espacoElementRef" class="label-default-font-size" #espacoElementRef fxLayoutAlign="center center"
                    (mouseover)="mouseOverBlankSpace()" (mouseout)="mouseOutBlankSpace()">
                    Inserir Espaço</p>
            </div>
            <div *ngIf="espacoBoxRef.style.position === 'absolute'" class="mid-start-header2 ghost-container" fxLayoutAlign="center center">
                <p class="label-default-font-size" fxLayoutAlign="center center">
                    Inserir Espaço
                </p>
            </div>

            <div id="centerDivElementRef" #centerDivElementRef></div>

            <div id="limparBoxRef" class="mid-start-bottom2" cdkDrag
                (cdkDragStarted)="cdkDragStarted('limparElementRef')" [cdkDragDisabled]="!enableLayoutEdition"
                (click)="onClickElementCalibration(0, 'limparElementRef')"
                [class.fill-animation]="animateDivSelectionClear"
                [ngClass]="clickElementsCount.get('limparElementRef_0') == this.defaultCalibrationCount ? 'action-div-border-color' : 'action-div-border'"
                #limparBoxRef fxLayoutAlign="center none">

                <div *ngIf="enableLayoutEdition" class="resize resize__right"
                    (resize)="onResize($event, 'limparElementRef')" [targetElement]="limparBoxRef"
                    [direction]="AngularResizeElementDirection.RIGHT"></div>

                <div *ngIf="enableLayoutEdition" class="resize resize__bottom"
                    (resize)="onResize($event, 'limparElementRef')" [targetElement]="limparBoxRef"
                    [direction]="AngularResizeElementDirection.BOTTOM"></div>

                <div *ngIf="enableLayoutEdition" class="resize resize__top"
                    (resize)="onResize($event, 'limparElementRef')" [targetElement]="limparBoxRef"
                    [direction]="AngularResizeElementDirection.TOP"></div>

                <div *ngIf="enableLayoutEdition" class="resize resize__left"
                    (resize)="onResize($event, 'limparElementRef')" [targetElement]="limparBoxRef"
                    [direction]="AngularResizeElementDirection.LEFT"></div>

                <p id="limparElementRef" class="label-default-font-size" #limparElementRef
                    (mouseover)="mouseOverReset(false)" (mouseout)="mouseOutReset()" fxLayoutAlign="center center">
                    Limpar Último
                </p>
            </div>
            <div *ngIf="limparBoxRef.style.position === 'absolute'" class="mid-start-bottom2 ghost-container" fxLayoutAlign="center none">
                <p class="label-default-font-size" fxLayoutAlign="center center">
                    Limpar Último
                </p>
            </div>
        </div>

        <div style="width: 100px;">
        </div>

        <div *ngIf="layoutType == layoutTypes.TypeFourLines || (layoutType == layoutTypes.Customized && lastLayoutType == layoutTypes.TypeFourLines)"
            fxFlex fxLayout="column" fxFill>
            <div class="grid-container-horizontal" fxFill>

                <div class="grid-header1" fxFill>
                    <div fxLayout="row" fxFill>
                        <ng-template ngFor [ngForOf]="initialTopLetters" let-i="index">
                            <app-dasher-on-screen-player [elId]="getIdPrefix() + 'ptop' + i.toString()" *ngIf="i >= splitIndexHeader"
                                (click)="onClickElementCalibration(i, 'top')"
                                [ngClass]="clickElementsCount.get('top_' + i) == this.defaultCalibrationCount ? 'selection-background-color' : ''"
                                [mouseMovedEvent]="mouseMovedEvent" [onResetDasherEvent]="onResetDasherEvent"
                                [enableLayoutEdition]="enableLayoutEdition" fxFlex fxFill
                                [onContentChangedEvent]="onContentChangedEvent"
                                (wordOrLetterSelectedEvent)="wordOrLetterSelectedEvent($event)">
                            </app-dasher-on-screen-player>
                        </ng-template>
                    </div>
                </div>

                <div class="grid-mainh"></div>

                <div class="grid-header2" fxFill>
                    <div fxLayout="row" fxFill>
                        <ng-template ngFor [ngForOf]="initialTopLetters" let-i="index">
                            <div *ngIf="i == 3" style="width: 100px;"></div>
                            <app-dasher-on-screen-player [elId]="getIdPrefix() + 'ptop' + i.toString()" *ngIf="i < splitIndexHeader"
                                (click)="onClickElementCalibration(i, 'top')"
                                [ngClass]="clickElementsCount.get('top_' + i) == this.defaultCalibrationCount ? 'selection-background-color' : ''"
                                [mouseMovedEvent]="mouseMovedEvent" [onResetDasherEvent]="onResetDasherEvent"
                                [enableLayoutEdition]="enableLayoutEdition" fxFlex fxFill
                                [onContentChangedEvent]="onContentChangedEvent"
                                (wordOrLetterSelectedEvent)="wordOrLetterSelectedEvent($event)"></app-dasher-on-screen-player>
                        </ng-template>
                    </div>
                </div>

                <div class="grid-main"></div>

                <div class="grid-bottom1" fxFill>
                    <div fxLayout="row" fxFill>
                        <ng-template ngFor [ngForOf]="initialBottomLetters" let-i="index">
                            <div *ngIf="i == 3" style="width: 100px;"></div>
                            <app-dasher-on-screen-player [elId]="getIdPrefix() + 'pbottom' + i.toString()" *ngIf="i < splitIndexBottom"
                                (click)="onClickElementCalibration(i, 'bottom')"
                                [ngClass]="clickElementsCount.get('bottom_' + i) == this.defaultCalibrationCount ? 'selection-background-color' : ''"
                                [mouseMovedEvent]="mouseMovedEvent" [onResetDasherEvent]="onResetDasherEvent"
                                [enableLayoutEdition]="enableLayoutEdition" fxFlex fxFill
                                [onContentChangedEvent]="onContentChangedEvent"
                                (wordOrLetterSelectedEvent)="wordOrLetterSelectedEvent($event)">
                            </app-dasher-on-screen-player>
                        </ng-template>
                    </div>
                </div>

                <div class="grid-mainb"></div>

                <div class="grid-bottom2" fxFill>
                    <div fxLayout="row" fxFill>
                        <ng-template ngFor [ngForOf]="initialBottomLetters" let-i="index">
                            <app-dasher-on-screen-player [elId]="getIdPrefix() + 'pbottom' + i.toString()" *ngIf="i >= splitIndexBottom"
                                (click)="onClickElementCalibration(i, 'bottom')"
                                [ngClass]="clickElementsCount.get('bottom_' + i) == this.defaultCalibrationCount ? 'selection-background-color' : ''"
                                [mouseMovedEvent]="mouseMovedEvent" [onResetDasherEvent]="onResetDasherEvent"
                                [enableLayoutEdition]="enableLayoutEdition" fxFlex fxFill
                                [onContentChangedEvent]="onContentChangedEvent"
                                (wordOrLetterSelectedEvent)="wordOrLetterSelectedEvent($event)">
                            </app-dasher-on-screen-player>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="layoutType == layoutTypes.TypeTwoLines || (layoutType == layoutTypes.Customized && lastLayoutType == layoutTypes.TypeTwoLines)"
            fxFlex fxLayout="column" fxFill>
            <div class="grid-container-vertical" fxFill>
                <div class="grid-header1" fxFill>
                    <div fxLayout="row" fxFill>
                        <ng-template ngFor [ngForOf]="initialTopLetters" let-i="index">
                            <app-dasher-on-screen-player [elId]="getIdPrefix() + 'ptop' + i.toString()"
                                (click)="onClickElementCalibration(i, 'top')"
                                [ngClass]="clickElementsCount.get('top_' + i) == this.defaultCalibrationCount ? 'selection-background-color' : ''"
                                [mouseMovedEvent]="mouseMovedEvent" [onResetDasherEvent]="onResetDasherEvent"
                                [enableLayoutEdition]="enableLayoutEdition" fxFlex fxFill
                                [onContentChangedEvent]="onContentChangedEvent"
                                (wordOrLetterSelectedEvent)="wordOrLetterSelectedEvent($event)"></app-dasher-on-screen-player>
                        </ng-template>
                    </div>
                </div>

                <div class="grid-main"></div>

                <div class="grid-bottom1" fxFill>
                    <div fxLayout="row" fxFill>
                        <ng-template ngFor [ngForOf]="initialBottomLetters" let-i="index">
                            <app-dasher-on-screen-player [elId]="getIdPrefix() + 'pbottom' + i.toString()"
                                (click)="onClickElementCalibration(i, 'bottom')"
                                [ngClass]="clickElementsCount.get('bottom_' + i) == this.defaultCalibrationCount ? 'selection-background-color' : ''"
                                [mouseMovedEvent]="mouseMovedEvent" [onResetDasherEvent]="onResetDasherEvent"
                                [enableLayoutEdition]="enableLayoutEdition" fxFlex fxFill
                                [onContentChangedEvent]="onContentChangedEvent"
                                (wordOrLetterSelectedEvent)="wordOrLetterSelectedEvent($event)">
                            </app-dasher-on-screen-player>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>