<div class="default-background display-flex-100-column">
    <mat-toolbar color="primary">
        <button (click)="drawer.toggle()" mat-icon-button>
            <mat-icon class="icon-display">toc</mat-icon>
        </button>
        <span class="title-center">Amplisoft Teclado Virtual Dasher Web</span>
    </mat-toolbar>

    <mat-drawer-container class="display-flex-100">
        <mat-drawer #drawer mode="side" class="default-padding">
            <div class="display-flex-100-column">
                <p class="label-default-font-size" (click)="onNavigate('dasher-side-navigation/dasher-on-screen')">
                    Dasher</p>
                <p class="label-default-font-size"
                    (click)="onNavigate('dasher-side-navigation/dasher-control-settings')">Controladores</p>
                <p class="label-default-font-size" (click)="onNavigate('dasher-side-navigation/dasher-feedback')">
                    Feedback</p>
            </div>
        </mat-drawer>

        <router-outlet></router-outlet>
    </mat-drawer-container>
</div>