<div [id]="elId" #wordOrLetterElementRef [class.fill-animation]="animateDivSelection" class="full-div" cdkDrag
    [cdkDragDisabled]="!enableLayoutEdition" (cdkDragStarted)="cdkDragStarted()">
    <div class="resize resize__right" (resize)="onResize($event)" [targetElement]="wordOrLetterElementRef"
        [direction]="AngularResizeElementDirection.RIGHT"></div>

    <div class="resize resize__bottom" (resize)="onResize($event)" [targetElement]="wordOrLetterElementRef"
        [direction]="AngularResizeElementDirection.BOTTOM"></div>

    <div class="resize resize__top" (resize)="onResize($event)" [targetElement]="wordOrLetterElementRef"
        [direction]="AngularResizeElementDirection.TOP"></div>

    <div class="resize resize__left" (resize)="onResize($event)" [targetElement]="wordOrLetterElementRef"
        [direction]="AngularResizeElementDirection.LEFT"></div>

    <p class="label-default-font-size action-border action-sized" #pElementRef
        (mouseover)="mouseOverWordOrLetterEvent()" (mouseout)="mouseOutWordOrLetterEvent()"
        fxLayoutAlign="center center">{{ wordOrLetter }}</p>
</div>