.action-div-border {
    border-width: 2px;
    border-style: groove;
    border-color: lightgoldenrodyellow;
    margin: 0 !important;
}

.big-action-size {
    width: 100px;
}

.action-size {
    width: 40px;
}