:host {
    --animation-duration: 5s;
}

.action-border {
    border-width: 2px;
    border-style: groove;
    border-color: lightgoldenrodyellow;
    margin: 0 !important;
}

.action-sized {
    width: 100%;
    height: 100%;
    justify-content: space-between !important;
    //writing-mode: vertical-rl;
    //text-orientation: upright;
}

.full-div {
    display: flex;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, rgb(230, 255, 230) 50%, transparent 0);
    background-size: 200% 100%;
    background-position: right;
    background-color: white;
}

.full-div-selection {
    display: flex;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, rgb(230, 255, 230) 50%, transparent 0);
    background-size: 200% 100%;
    background-position: right;
    background-color: lightgoldenrodyellow;
}

@keyframes makeItfadeIn {
    100% {
        background-position: left;
    }
}

.fill-animation {
    animation: makeItfadeIn var(--animation-duration) 0s forwards;
}