.action-border {
    border-width: 2px;
    border-style: groove;
    border-color: lightgoldenrodyellow;
    margin: 0 !important;
}

.action-sized {
    width: 100%;
    writing-mode: vertical-rl;
    text-orientation: upright;
}

.full-div {
    display: flex;
    height: 100%;
    width: 100%;
}