<div fxFill>
    <div [formGroup]="form" fxLayoutAlign="center center" fxLayout="column">
        <p class="label-high-font-size">Dispositivos Suportados</p>
        <div fxLayout="row">
            <mat-slide-toggle formControlName="NinetendoJoycon" color="accent" fxLayoutAlign="center center" class="label-high-font-size">
                Nintendo Joycon Switch
            </mat-slide-toggle>
        </div>

        <p class="label-high-font-size">Tipo Dispositivo</p>
        <div fxLayout="row">
            <mat-slide-toggle formControlName="ControleAnalogico" color="accent" fxLayoutAlign="center center" class="label-high-font-size" style="margin-right: 6px;">
                Controle Analógico
            </mat-slide-toggle>
            <mat-slide-toggle formControlName="ControleSensorial" color="accent" fxLayoutAlign="center center" class="label-high-font-size">
                Controle Sensorial
            </mat-slide-toggle>
        </div>
    </div>
</div>